@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://scontent.fnak2-1.fna.fbcdn.net/v/t1.15752-9/313464684_1299136914210033_3490250356091886810_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=6WDloY7PNugAX-gQigj&_nc_ht=scontent.fnak2-1.fna&oh=03_AdTIF18oV5VZA-tw5ofUNxQugo7UDdDJVTw5n-naDDhuNw&oe=639C19DE" width="50%" height="50%"
    <h1></h1>
    <h1></h1>
    <h1></h1>
</div>

<center>
    <img src="https://scontent.fnak2-1.fna.fbcdn.net/v/t1.15752-9/312431929_1280877725979677_2490820104526182886_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=bJi5YzOl7HIAX-AGwFH&_nc_ht=scontent.fnak2-1.fna&oh=03_AdSDZ6Vx3ItGvc6FThnxaTxihryogwfnINLP-QmSQyVuLA&oe=639C1622" width="52%" height="52%"
</center>